.interesting {
    position: relative;
    top:  150px;
    left: 630px;
} 

.wow {
    position: relative;
    top:  150px;
    left: 720px;
}

.amazing {
    position: relative;
    top: 150px;
    left: 200px;
}